body {
  background-image: url(../img/sabulaji.gif);
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 300;
}
.container {
  width: 960px;
  margin: 0 auto;
  background-color: #C3C3C3;
}
.main-header {
  background-image: url(../img/nav-bg-a.jpg);
  margin-top: 120px;
  padding: 1px;
}
.main-header:hover {
  background-image: url(../img/nav-bg-b.jpg);
}
.main-header h1 {
  background-color: #fff;
  width: 320px;
  margin: 8px auto;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  text-shadow: 0 0 10px white;
}
.main-header h3 {
  background-color: #fff;
  width: 320px;
  margin: 5px auto;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  text-shadow: 0 0 10px white;
}
.main-nav {
  text-align: center;
  background-color: #3D74BD;
  list-style: none;
  padding: 1px;
  margin: 0;
}
.main-nav ul {
  margin: 0 auto;
}
.main-nav ul li {
  margin: 15px 10px;
  display: inline-block;
}
.main-nav ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}
.section {
  padding: 20px 60px;
  background-color: #fff;
}
.section header h2 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section header h2:after {
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  margin: 10 auto;
  border-bottom: 2px solid #666;
}
.section__description {
  text-align: center;
  font-style: italic;
}
